################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DotNet.DependencyInjectionBenchmarks/BenchmarkDotNet.Artifacts
/src/DotNet.DependencyInjectionBenchmarks/bin
/src/DotNet.DependencyInjectionBenchmarks/obj
/.vs
