################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DotNet.DependencyInjectionBenchmarks/BenchmarkDotNet.Artifacts
